<div style="display: flex" fxLayout="column">
  <div fxFlex="60">
      <div>
  </div>
  <div fxFlex="40">
      <div style="display:flex;" fxLayout="row">
          <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    About Me
                  </mat-panel-title>
                  <mat-panel-description>
                    A brief Introduction
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I am currently pursuing a Masters' degree in Computer Science at the University of Florida. I have exposure to
                  application design and development in a consumer-facing paradigm. Java is my primary workhorse. I have good
                  experience in C++/C, and growing proficiency in JavaScript via Angular and Node, and Python via coursework
                  and polyglot development. I also have containerization experience via Docker and Kubernetes. I am aiming to
                  become a full-stack developer looking for challenges in diverse development paradigms</p>
              </mat-expansion-panel>
            </mat-accordion>
        </div>
  </div>
</div>